{% extends 'all.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
{% load static %}
<script src="{% static '/js/global.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/custom.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/deznav-init.js' %}" type="text/javascript"></script>
<link href="{% static '/css/style.css' %}" rel="stylesheet">

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <p class="col-md-12 text-center"><img src="{% static '/images/forgot-password.png' %}"></p>
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h3 class="text-center mb-4 pb-2">Reset Password !</h3>
                                    <h2 style="font-size: 25px;font-weight: 600;color:white">Change Password</h2>
                                    <div class="body_container box box--big">
                                        <!-- form starts here -->
                                        <form id="change-password-form" method="post" action="#">
                                            {% csrf_token %}
                                            <div class="agile-field-txt">
                                                <label>
                                                    <i class="fa fa-user" aria-hidden="true"></i> old password </label>
                                                <input id="old_password" name="old_password"
                                                    placeholder="Enter your old password" required="" type="text"
                                                    class="form-control">
                                            </div>

                                            <div class="agile-field-txt">
                                                <label>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i> New Password
                                                </label>
                                                <input name="new_password1" type="password" class="form-control"
                                                    placeholder="Enter your new password " required=""
                                                    id="new_password1">
                                            </div>
                                            <div class="agile-field-txt">
                                                <label>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i> New Password
                                                    Confirmation </label>
                                                <input name="new_password2" type="password" class="form-control"
                                                    placeholder="Enter your new password " required=""
                                                    id="new_password2">
                                            </div>

                                            {% if form.errors %}
                                            {% for field in form %}
                                            {{field.name}}
                                            {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                            {% endfor %}
                                            {% endif %}
                                            <br>
                                            <div class="w3ls-bot">
                                                <div class="text-center">
                                                    <input type="submit" class="btn btn-primary btn-block"
                                                        value="Submit">
                                                </div>
                                                <div class="clearfix"></div>
                                                <br />

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

