
<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
          <a href="{% url 'home' %}" style="font-size: 25px;font-weight: 600;float:right;margin-top: -99px;
    margin-right: 50px;">Back</a>
        <main>
            <p style="font-size: 25px;font-weight: 600;color:#fd5c63;margin-top: 160px;">We have sended you reset password link on your email. Please Check Your Email.</p>
        </main>
    </body>

</html>