{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <meta name="description" content="Some description for the page"/>
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
				<div class="col-md-6">
                    <p class="col-md-12 text-center"><img src="{% static '/images/forgot-password.png' %}"></p>
      <div class="authincation-content">
          <div class="row no-gutters">
              <div class="col-xl-12">
                  <div class="auth-form">
                      <h3 class="text-center mb-4 pb-2">Reset Password !</h3>
                      <form method="post">
                          {% csrf_token %}
                          <div class="form-group">
                              <label class="mb-1">New Password</label>
                              <input type="password" class="form-control" value="">
                          </div>
                          <div class="form-group">
                            <label class="mb-1">Confirm Password</label>
                            <input type="password" class="form-control" value="">
                        </div>
                          <!-- <div class="form-row d-flex justify-content-end mt-4 mb-2 pr-2 forgot-password">
                              <div class="form-group">
                                  <a href="page-forgot-password.html">Forgot Password?</a>
                              </div>
                          </div> -->
                          <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-block">Submit</button>
                          </div>
                      </form>
                      <!-- <div class="new-account mt-3">
                          <p class="mb-0">Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
            </div>
        </div>
    </div>
     <script src="{% static '/js/global.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/js/custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/js/deznav-init.js' %}" type="text/javascript"></script>
</body>
</html>