{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Login</title>
<meta name="description" content="Some description for the page" />
<link href="{% static '/css/style.css' %}" rel="stylesheet">

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <p class="col-md-12 text-center"><img src="{% static '/images/logo.png' %}"></p>
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h3 class="text-center mb-4 pb-2">Welcome To Login !</h3>
                                    <form method='POST'>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="mb-1">Email</label>
                                            <input type='email' name='email' class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1">Password</label>
                                            <input type='password' name='password' class="form-control">
                                        </div>
                                        {% if error %}
                <div class="alert alert-warning">
                    <center><p class="error"><strong>Error:</strong> {{ error }}</center>      
                </div>
              {% endif %}
                                        <div class="form-row d-flex justify-content-end mt-4 mb-2 pr-2 forgot-password">
                                            <div class="form-group">
                                                <a href="/forgot/">Forgot Password?</a>
                                            </div>
                                              <button formmethod="post" href="" onclick="$(this).closest('form').submit()" class="btn btn-primary btn-block" type="submit">Login</button> 
                                            
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/css/js/global.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/css/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/css/js/custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/css/js/deznav-init.js' %}" type="text/javascript"></script>
</body>

</html>