<html lang="en">

<head>
    <title>Radio Cinema Reset Password</title>
</head>

<body class="bg-white">
    
    <script type="text/javascript">
    function changeLink(applink,) 
    {
    window.location=applink;
    }
    changeLink("radiocinema://radiocinema?User_id={{User_id}}");
    setInterval(function () {
        // window.location.replace("radiocinema://radiocinema.parastechnologies.in//radiocinema?User_id=2");
         window.location.replace("radiocinema://radiocinema?User_id={{User_id}}");
    }, 2000);


    </script>

</body>

</html>    