<!DOCTYPE html>
<html lang="en">

<head>
    <title>Radio Cinema Reset Password</title>
</head>

<body class="bg-white">
    <!-- begin app -->
    
                                <h1>Reset Password </h1>
                                <form name="myFForm" id="fpwd" method = "POST">{% csrf_token %}
                                    <div class="form">
                                        <div id="password-field" class="field-wrapper input mb-2">
                                            <label class="control-label">New Password</label>
                                            <input id="password" name="password" type="password" class="form-control" placeholder="New Password" oninput="return validateForm()" required/>
                                            <span id="error-pwd"></span>
                                        </div>

                                        <div id="password-field" class="field-wrapper input mb-2">
                                            <label class="control-label">Confirm Password</label>
                                            <input id="ppassword" name="ppassword" type="password" class="form-control" placeholder="Confirm Password" oninput="return validateForm()" required/>
                                            <span id="error-ppwd"></span>
                                        </div>

                                        <div class="mt-5">
                                            <div class="field-wrapper">
                                                <button onclick="return validatesForm()" type="submit" class="btn btn-primary">Reset Password</button>
                                            </div>
                                        </div>

                                    </div>
                                </form> 
                                <br>
                                {% if error %}

                            <div class="alert alert-warning">
                            <center><p class="error">Error: {{ error }}</center>      
                            </div>
    
                            {% endif %}
                            {% if success %}

                            <center><strong> {{ success }}</strong></center>      
                            
                            {% endif %}
                            

                

    <script type="text/javascript">
    function validatesForm(){
        var pwd = document.forms["myFForm"]["password"].value;
    	var ppwd = document.forms["myFForm"]["ppassword"].value;
        if (pwd.length>=6  && pwd==ppwd) {
            $(this).closest('form').submit()
        }
        else{
            return false;
        }
    }
    function validateForm(){
    var success=""    
	var pwd = document.forms["myFForm"]["password"].value;
	var ppwd = document.forms["myFForm"]["ppassword"].value;
	document.getElementById('error-pwd').innerHTML = ""
	document.getElementById('error-ppwd').innerHTML = ""
	if (pwd.length<1) {
	    document.getElementById('error-pwd').innerHTML = " Password can not be empty."
    }
    if (ppwd.length<1) {
        document.getElementById('error-ppwd').innerHTML = " Confirm Password can not be empty."
    }
    if (pwd.length>1 && ppwd.length>1) {
        if (pwd!==ppwd) {
        document.getElementById('error-ppwd').innerHTML = "Passwords do not match."
        }
        if (pwd.length<6) {
        document.getElementById('error-pwd').innerHTML = "Password length should be more than 6."
    }
    }
    
    
    }
    </script>

</body>

</html>